@model Core.Model.AracBilgileri

@{
    ViewData["Title"] = "AracBilgileriUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AracBilgileriUpdate</h1>

<h4>AracBilgileri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AracBilgileriUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AracId" />
            <div class="form-group">
                <label asp-for="Kaynak" class="control-label"></label>
                <input asp-for="Kaynak" class="form-control" />
                <span asp-validation-for="Kaynak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marka" class="control-label"></label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sasi" class="control-label"></label>
                <input asp-for="Sasi" class="form-control" />
                <span asp-validation-for="Sasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlakaKodu" class="control-label"></label>
                <input asp-for="PlakaKodu" class="form-control" />
                <span asp-validation-for="PlakaKodu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AraçTanımı" class="control-label"></label>
                <input asp-for="AraçTanımı" class="form-control" />
                <span asp-validation-for="AraçTanımı" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYıl" class="control-label"></label>
                <input asp-for="ModelYıl" class="form-control" />
                <span asp-validation-for="ModelYıl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seri" class="control-label"></label>
                <input asp-for="Seri" class="form-control" />
                <span asp-validation-for="Seri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renk" class="control-label"></label>
                <input asp-for="Renk" class="form-control" />
                <span asp-validation-for="Renk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plaka" class="control-label"></label>
                <input asp-for="Plaka" class="form-control" />
                <span asp-validation-for="Plaka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motor" class="control-label"></label>
                <input asp-for="Motor" class="form-control" />
                <span asp-validation-for="Motor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Km" class="control-label"></label>
                <input asp-for="Km" class="form-control" />
                <span asp-validation-for="Km" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SonGelisTarihi" class="control-label"></label>
                <input asp-for="SonGelisTarihi" class="form-control" />
                <span asp-validation-for="SonGelisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrafigeCikalıKaçYilOlmus" class="control-label"></label>
                <input asp-for="TrafigeCikalıKaçYilOlmus" class="form-control" />
                <span asp-validation-for="TrafigeCikalıKaçYilOlmus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsEmriAdeti" class="control-label"></label>
                <input asp-for="IsEmriAdeti" class="form-control" />
                <span asp-validation-for="IsEmriAdeti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenelToplam" class="control-label"></label>
                <input asp-for="GenelToplam" class="form-control" />
                <span asp-validation-for="GenelToplam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SonFaturaTarihi" class="control-label"></label>
                <input asp-for="SonFaturaTarihi" class="form-control" />
                <span asp-validation-for="SonFaturaTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeçenGünSayısı" class="control-label"></label>
                <input asp-for="GeçenGünSayısı" class="form-control" />
                <span asp-validation-for="GeçenGünSayısı" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiat" class="control-label"></label>
                <input asp-for="Fiat" class="form-control" />
                <span asp-validation-for="Fiat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
