@model Core.Model.MüsteriBilgileri

@{
    ViewData["Title"] = "MüsterisUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
        <h1>MüsterisUpdate</h1>

        <h4>MüsteriBilgileri</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="MüsterisUpdate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MüsteriId" />
                    <div class="form-group">
                        <label asp-for="Marka" class="control-label"></label>
                        <input asp-for="Marka" class="form-control" />
                        <span asp-validation-for="Marka" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MüsteriNo" class="control-label"></label>
                        <input asp-for="MüsteriNo" class="form-control" />
                        <span asp-validation-for="MüsteriNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Plaka" class="control-label"></label>
                        <input asp-for="Plaka" class="form-control" />
                        <span asp-validation-for="Plaka" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ad" class="control-label"></label>
                        <input asp-for="Ad" class="form-control" />
                        <span asp-validation-for="Ad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Soyad" class="control-label"></label>
                        <input asp-for="Soyad" class="form-control" />
                        <span asp-validation-for="Soyad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="İsTelefon" class="control-label"></label>
                        <input asp-for="İsTelefon" class="form-control" />
                        <span asp-validation-for="İsTelefon" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EvTelefon" class="control-label"></label>
                        <input asp-for="EvTelefon" class="form-control" />
                        <span asp-validation-for="EvTelefon" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ceptelefon" class="control-label"></label>
                        <input asp-for="Ceptelefon" class="form-control" />
                        <span asp-validation-for="Ceptelefon" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fax" class="control-label"></label>
                        <input asp-for="Fax" class="form-control" />
                        <span asp-validation-for="Fax" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Adress" class="control-label"></label>
                        <input asp-for="Adress" class="form-control" />
                        <span asp-validation-for="Adress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostaKodu" class="control-label"></label>
                        <input asp-for="PostaKodu" class="form-control" />
                        <span asp-validation-for="PostaKodu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ilce" class="control-label"></label>
                        <input asp-for="Ilce" class="form-control" />
                        <span asp-validation-for="Ilce" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Şehir" class="control-label"></label>
                        <input asp-for="Şehir" class="form-control" />
                        <span asp-validation-for="Şehir" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TrafigeCıkısTarihi" class="control-label"></label>
                        <input asp-for="TrafigeCıkısTarihi" class="form-control" />
                        <span asp-validation-for="TrafigeCıkısTarihi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SonServisTarih" class="control-label"></label>
                        <input asp-for="SonServisTarih" class="form-control" />
                        <span asp-validation-for="SonServisTarih" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SasiNo" class="control-label"></label>
                        <input asp-for="SasiNo" class="form-control" />
                        <span asp-validation-for="SasiNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MotorNo" class="control-label"></label>
                        <input asp-for="MotorNo" class="form-control" />
                        <span asp-validation-for="MotorNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AracTanımı" class="control-label"></label>
                        <input asp-for="AracTanımı" class="form-control" />
                        <span asp-validation-for="AracTanımı" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AracRengi" class="control-label"></label>
                        <input asp-for="AracRengi" class="form-control" />
                        <span asp-validation-for="AracRengi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fiyat" class="control-label"></label>
                        <input asp-for="Fiyat" class="form-control" />
                        <span asp-validation-for="Fiyat" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
